.q1oc_q[q1qi_q-option="ubuntu"] .q1qi_q-a, .q1oc_q[q1qi_q-option="ubuntu"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="ubuntu"] .q1qi_q-a .q1ln_q-el{
    font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="ubuntu"] .q1qi_q-b, .q1oc_q[q1qi_q-option="ubuntu"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="ubuntu"] .q1qi_q-b .q1ln_q-el{
     font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="ubuntu"] .q1qi_q-c, .q1oc_q[q1qi_q-option="ubuntu"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="ubuntu"] .q1qi_q-c .q1ln_q-el{
     font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="ubuntu"] .q1mg_q-letter-content-text p {
     font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="ubuntu"] .q1mg_q-letter-content-text span {
     font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="ubuntu"] .q1mg_q-letter-content-text a {
     font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="ubuntu"] .q1mg_q-letter-content-text li {
     font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="ubuntu"] .q1mg_q-letter-content-text u {
     font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="ubuntu"] .q1mg_q-letter-content-text b {
     font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="ubuntu"] .q1mg_q-letter-content-text i {
     font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="ubuntu"] .q1mg_q-letter-content-text ul {
     font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="ubuntu"] .q1mg_q-letter-content-text{
     font-family:'Ubuntu';
}
.q1oc_q[q1qi_q-option="raleway"] .q1qi_q-a, .q1oc_q[q1qi_q-option="raleway"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="raleway"] .q1qi_q-a .q1ln_q-el{
    font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="raleway"] .q1qi_q-b, .q1oc_q[q1qi_q-option="raleway"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="raleway"] .q1qi_q-b .q1ln_q-el{
     font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="raleway"] .q1qi_q-c, .q1oc_q[q1qi_q-option="raleway"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="raleway"] .q1qi_q-c .q1ln_q-el{
     font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="raleway"] .q1mg_q-letter-content-text p {
     font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="raleway"] .q1mg_q-letter-content-text span {
     font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="raleway"] .q1mg_q-letter-content-text a {
     font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="raleway"] .q1mg_q-letter-content-text li {
     font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="raleway"] .q1mg_q-letter-content-text u {
     font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="raleway"] .q1mg_q-letter-content-text b {
     font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="raleway"] .q1mg_q-letter-content-text i {
     font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="raleway"] .q1mg_q-letter-content-text ul {
     font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="raleway"] .q1mg_q-letter-content-text{
     font-family:'Raleway';
}
.q1oc_q[q1qi_q-option="roboto"] .q1qi_q-a, .q1oc_q[q1qi_q-option="roboto"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="roboto"] .q1qi_q-a .q1ln_q-el{
    font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="roboto"] .q1qi_q-b, .q1oc_q[q1qi_q-option="roboto"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="roboto"] .q1qi_q-b .q1ln_q-el{
     font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="roboto"] .q1qi_q-c, .q1oc_q[q1qi_q-option="roboto"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="roboto"] .q1qi_q-c .q1ln_q-el{
     font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="roboto"] .q1mg_q-letter-content-text p {
     font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="roboto"] .q1mg_q-letter-content-text span {
     font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="roboto"] .q1mg_q-letter-content-text a {
     font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="roboto"] .q1mg_q-letter-content-text li {
     font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="roboto"] .q1mg_q-letter-content-text u {
     font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="roboto"] .q1mg_q-letter-content-text b {
     font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="roboto"] .q1mg_q-letter-content-text i {
     font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="roboto"] .q1mg_q-letter-content-text ul {
     font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="roboto"] .q1mg_q-letter-content-text{
     font-family:'Roboto';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1qi_q-a, .q1oc_q[q1qi_q-option="quicksand"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="quicksand"] .q1qi_q-a .q1ln_q-el{
    font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1qi_q-b, .q1oc_q[q1qi_q-option="quicksand"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="quicksand"] .q1qi_q-b .q1ln_q-el{
     font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1qi_q-c, .q1oc_q[q1qi_q-option="quicksand"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="quicksand"] .q1qi_q-c .q1ln_q-el{
     font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1mg_q-letter-content-text p {
     font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1mg_q-letter-content-text span {
     font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1mg_q-letter-content-text a {
     font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1mg_q-letter-content-text li {
     font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1mg_q-letter-content-text u {
     font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1mg_q-letter-content-text b {
     font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1mg_q-letter-content-text i {
     font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1mg_q-letter-content-text ul {
     font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="quicksand"] .q1mg_q-letter-content-text{
     font-family:'Quicksand';
}
.q1oc_q[q1qi_q-option="overpass"] .q1qi_q-a, .q1oc_q[q1qi_q-option="overpass"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="overpass"] .q1qi_q-a .q1ln_q-el{
    font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="overpass"] .q1qi_q-b, .q1oc_q[q1qi_q-option="overpass"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="overpass"] .q1qi_q-b .q1ln_q-el{
     font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="overpass"] .q1qi_q-c, .q1oc_q[q1qi_q-option="overpass"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="overpass"] .q1qi_q-c .q1ln_q-el{
     font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="overpass"] .q1mg_q-letter-content-text p {
     font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="overpass"] .q1mg_q-letter-content-text span {
     font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="overpass"] .q1mg_q-letter-content-text a {
     font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="overpass"] .q1mg_q-letter-content-text li {
     font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="overpass"] .q1mg_q-letter-content-text u {
     font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="overpass"] .q1mg_q-letter-content-text b {
     font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="overpass"] .q1mg_q-letter-content-text i {
     font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="overpass"] .q1mg_q-letter-content-text ul {
     font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="overpass"] .q1mg_q-letter-content-text{
     font-family:'Overpass';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1qi_q-a, .q1oc_q[q1qi_q-option="merriweatherSans"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="merriweatherSans"] .q1qi_q-a .q1ln_q-el{
    font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1qi_q-b, .q1oc_q[q1qi_q-option="merriweatherSans"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="merriweatherSans"] .q1qi_q-b .q1ln_q-el{
     font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1qi_q-c, .q1oc_q[q1qi_q-option="merriweatherSans"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="merriweatherSans"] .q1qi_q-c .q1ln_q-el{
     font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1mg_q-letter-content-text p {
     font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1mg_q-letter-content-text span {
     font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1mg_q-letter-content-text a {
     font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1mg_q-letter-content-text li {
     font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1mg_q-letter-content-text u {
     font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1mg_q-letter-content-text b {
     font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1mg_q-letter-content-text i {
     font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1mg_q-letter-content-text ul {
     font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="merriweatherSans"] .q1mg_q-letter-content-text{
     font-family:'Merriweather Sans';
}
.q1oc_q[q1qi_q-option="hind"] .q1qi_q-a, .q1oc_q[q1qi_q-option="hind"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="hind"] .q1qi_q-a .q1ln_q-el{
    font-family:'Hind';
}
.q1oc_q[q1qi_q-option="hind"] .q1qi_q-b, .q1oc_q[q1qi_q-option="hind"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="hind"] .q1qi_q-b .q1ln_q-el{
     font-family:'Hind';
}
.q1oc_q[q1qi_q-option="hind"] .q1qi_q-c, .q1oc_q[q1qi_q-option="hind"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="hind"] .q1qi_q-c .q1ln_q-el{
     font-family:'Hind';
}
.q1oc_q[q1qi_q-option="hind"] .q1mg_q-letter-content-text p {
     font-family:'Hind';
}
.q1oc_q[q1qi_q-option="hind"] .q1mg_q-letter-content-text span {
     font-family:'Hind';
}
.q1oc_q[q1qi_q-option="hind"] .q1mg_q-letter-content-text a {
     font-family:'Hind';
}
.q1oc_q[q1qi_q-option="hind"] .q1mg_q-letter-content-text li {
     font-family:'Hind';
}
.q1oc_q[q1qi_q-option="hind"] .q1mg_q-letter-content-text u {
     font-family:'Hind';
}
.q1oc_q[q1qi_q-option="hind"] .q1mg_q-letter-content-text b {
     font-family:'Hind';
}
.q1oc_q[q1qi_q-option="hind"] .q1mg_q-letter-content-text i {
     font-family:'Hind';
}
.q1oc_q[q1qi_q-option="hind"] .q1mg_q-letter-content-text ul {
     font-family:'Hind';
}
.q1oc_q[q1qi_q-option="hind"] .q1mg_q-letter-content-text{
     font-family:'Hind';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1qi_q-a, .q1oc_q[q1qi_q-option="cormorant"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="cormorant"] .q1qi_q-a .q1ln_q-el{
    font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1qi_q-b, .q1oc_q[q1qi_q-option="cormorant"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="cormorant"] .q1qi_q-b .q1ln_q-el{
     font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1qi_q-c, .q1oc_q[q1qi_q-option="cormorant"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="cormorant"] .q1qi_q-c .q1ln_q-el{
     font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1mg_q-letter-content-text p {
     font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1mg_q-letter-content-text span {
     font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1mg_q-letter-content-text a {
     font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1mg_q-letter-content-text li {
     font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1mg_q-letter-content-text u {
     font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1mg_q-letter-content-text b {
     font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1mg_q-letter-content-text i {
     font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1mg_q-letter-content-text ul {
     font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="cormorant"] .q1mg_q-letter-content-text{
     font-family:'Cormorant Garamond';
}
.q1oc_q[q1qi_q-option="lora"] .q1qi_q-a, .q1oc_q[q1qi_q-option="lora"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="lora"] .q1qi_q-a .q1ln_q-el{
    font-family:'Lora';
}
.q1oc_q[q1qi_q-option="lora"] .q1qi_q-b, .q1oc_q[q1qi_q-option="lora"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="lora"] .q1qi_q-b .q1ln_q-el{
     font-family:'Lora';
}
.q1oc_q[q1qi_q-option="lora"] .q1qi_q-c, .q1oc_q[q1qi_q-option="lora"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="lora"] .q1qi_q-c .q1ln_q-el{
     font-family:'Lora';
}
.q1oc_q[q1qi_q-option="lora"] .q1mg_q-letter-content-text p {
     font-family:'Lora';
}
.q1oc_q[q1qi_q-option="lora"] .q1mg_q-letter-content-text span {
     font-family:'Lora';
}
.q1oc_q[q1qi_q-option="lora"] .q1mg_q-letter-content-text a {
     font-family:'Lora';
}
.q1oc_q[q1qi_q-option="lora"] .q1mg_q-letter-content-text li {
     font-family:'Lora';
}
.q1oc_q[q1qi_q-option="lora"] .q1mg_q-letter-content-text u {
     font-family:'Lora';
}
.q1oc_q[q1qi_q-option="lora"] .q1mg_q-letter-content-text b {
     font-family:'Lora';
}
.q1oc_q[q1qi_q-option="lora"] .q1mg_q-letter-content-text i {
     font-family:'Lora';
}
.q1oc_q[q1qi_q-option="lora"] .q1mg_q-letter-content-text ul {
     font-family:'Lora';
}
.q1oc_q[q1qi_q-option="lora"] .q1mg_q-letter-content-text{
     font-family:'Lora';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1qi_q-a, .q1oc_q[q1qi_q-option="rokkitt"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="rokkitt"] .q1qi_q-a .q1ln_q-el{
    font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1qi_q-b, .q1oc_q[q1qi_q-option="rokkitt"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="rokkitt"] .q1qi_q-b .q1ln_q-el{
     font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1qi_q-c, .q1oc_q[q1qi_q-option="rokkitt"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="rokkitt"] .q1qi_q-c .q1ln_q-el{
     font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1mg_q-letter-content-text p {
     font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1mg_q-letter-content-text span {
     font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1mg_q-letter-content-text a {
     font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1mg_q-letter-content-text li {
     font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1mg_q-letter-content-text u {
     font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1mg_q-letter-content-text b {
     font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1mg_q-letter-content-text i {
     font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1mg_q-letter-content-text ul {
     font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="rokkitt"] .q1mg_q-letter-content-text{
     font-family:'Rokkitt';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1qi_q-a, .q1oc_q[q1qi_q-option="merriweather"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="merriweather"] .q1qi_q-a .q1ln_q-el{
    font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1qi_q-b, .q1oc_q[q1qi_q-option="merriweather"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="merriweather"] .q1qi_q-b .q1ln_q-el{
     font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1qi_q-c, .q1oc_q[q1qi_q-option="merriweather"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="merriweather"] .q1qi_q-c .q1ln_q-el{
     font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1mg_q-letter-content-text p {
     font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1mg_q-letter-content-text span {
     font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1mg_q-letter-content-text a {
     font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1mg_q-letter-content-text li {
     font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1mg_q-letter-content-text u {
     font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1mg_q-letter-content-text b {
     font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1mg_q-letter-content-text i {
     font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1mg_q-letter-content-text ul {
     font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="merriweather"] .q1mg_q-letter-content-text{
     font-family:'Merriweather';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1qi_q-a, .q1oc_q[q1qi_q-option="lusitana"] .q1qi_q-a .q1ln_q, .q1oc_q[q1qi_q-option="lusitana"] .q1qi_q-a .q1ln_q-el{
    font-family:'Lusitana';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1qi_q-b, .q1oc_q[q1qi_q-option="lusitana"] .q1qi_q-b .q1ln_q, .q1oc_q[q1qi_q-option="lusitana"] .q1qi_q-b .q1ln_q-el{
     font-family:'Lusitana';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1qi_q-c, .q1oc_q[q1qi_q-option="lusitana"] .q1qi_q-c .q1ln_q, .q1oc_q[q1qi_q-option="lusitana"] .q1qi_q-c .q1ln_q-el{
     font-family:'Lusitana';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1mg_q-letter-content-text p {
     font-family:'Lusitana';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1mg_q-letter-content-text span {
     font-family:'Lusitana';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1mg_q-letter-content-text a {
     font-family:'Lusitana';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1mg_q-letter-content-text li {
     font-family:'Lusitana';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1mg_q-letter-content-text u {
     font-family:'Lusitana';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1mg_q-letter-content-text b {
     font-family:'Lusitana';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1mg_q-letter-content-text i {
     font-family:'Lusitana';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1mg_q-letter-content-text ul {
     font-family:'Lusitana';
}
.q1oc_q[q1qi_q-option="lusitana"] .q1mg_q-letter-content-text{
     font-family:'Lusitana';
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.q1fb_q-simple {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.q1fb_q-simple {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.qwg_q {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.qwg_q {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.q1hy_q {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.q1hy_q {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.q1fb_q-simple {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.q1fb_q-simple {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.qwg_q {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.qwg_q {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.q1hy_q {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.q1hy_q {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
 .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
 .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
 .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.q1fb_q-simple {
    padding-bottom:0px
}
 .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.q1fb_q-simple {
    padding-bottom:0px
}
 .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.qwg_q {
    padding-bottom:0px
}
 .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.qwg_q {
    padding-bottom:0px
}
 .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
 .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
 .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.q1hy_q {
    padding-bottom:0px
}
 .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.q1hy_q {
    padding-bottom:0px
}
 .q1oc_q .xslot1[q1dd_q-level="0"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
 .q1oc_q .xslot2[q1dd_q-level="0"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.q1fb_q-simple {
    padding-bottom:3px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.q1fb_q-simple {
    padding-bottom:3px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.qwg_q {
    padding-bottom:2px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.qwg_q {
    padding-bottom:2px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.q1hy_q {
    padding-bottom:2px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.q1hy_q {
    padding-bottom:2px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:1.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:1.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.q1fb_q-simple {
    padding-bottom:4.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.q1fb_q-simple {
    padding-bottom:4.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.qwg_q {
    padding-bottom:3px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.qwg_q {
    padding-bottom:3px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.q1hy_q {
    padding-bottom:3px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.q1hy_q {
    padding-bottom:3px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1.5px
}
 .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:2px
}
 .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:2px
}
 .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.q1fb_q-simple {
    padding-bottom:6px
}
 .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.q1fb_q-simple {
    padding-bottom:6px
}
 .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.qwg_q {
    padding-bottom:4px
}
 .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.qwg_q {
    padding-bottom:4px
}
 .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:2px
}
 .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:2px
}
 .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.q1hy_q {
    padding-bottom:4px
}
 .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.q1hy_q {
    padding-bottom:4px
}
 .q1oc_q .xslot1[q1dd_q-level="1"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:2px
}
 .q1oc_q .xslot2[q1dd_q-level="1"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:2px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.q1fb_q-simple {
    padding-bottom:5px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.q1fb_q-simple {
    padding-bottom:5px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.qwg_q {
    padding-bottom:4px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.qwg_q {
    padding-bottom:4px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.q1hy_q {
    padding-bottom:4px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.q1hy_q {
    padding-bottom:4px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.q1fb_q-simple {
    padding-bottom:7.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.q1fb_q-simple {
    padding-bottom:7.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.qwg_q {
    padding-bottom:6px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.qwg_q {
    padding-bottom:6px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.q1hy_q {
    padding-bottom:6px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.q1hy_q {
    padding-bottom:6px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:1.5px
}
 .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
 .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:0px
}
 .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.q1fb_q-simple {
    padding-bottom:10px
}
 .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.q1fb_q-simple {
    padding-bottom:10px
}
 .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.qwg_q {
    padding-bottom:8px
}
 .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.qwg_q {
    padding-bottom:8px
}
 .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:2px
}
 .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:2px
}
 .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.q1hy_q {
    padding-bottom:8px
}
 .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.q1hy_q {
    padding-bottom:8px
}
 .q1oc_q .xslot1[q1dd_q-level="2"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:2px
}
 .q1oc_q .xslot2[q1dd_q-level="2"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:2px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:1px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.q1fb_q-simple {
    padding-bottom:7px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.q1fb_q-simple {
    padding-bottom:7px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.qwg_q {
    padding-bottom:5px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.qwg_q {
    padding-bottom:5px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:5px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:5px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.q1hy_q {
    padding-bottom:5px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.q1hy_q {
    padding-bottom:5px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:2px
}
.q1oc_q-wrapper[data-q1qm_q="q1lk_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:2px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:1.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:1.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.q1fb_q-simple {
    padding-bottom:10.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.q1fb_q-simple {
    padding-bottom:10.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.qwg_q {
    padding-bottom:7.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.qwg_q {
    padding-bottom:7.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:7.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:2.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.q1hy_q {
    padding-bottom:7.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.q1hy_q {
    padding-bottom:7.5px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:3px
}
.q1oc_q-wrapper[data-q1qm_q="q1rg_q"] .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:3px
}
 .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:2px
}
 .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q .q1so_q-section-header .q1fb_q-header-holder{
    padding-bottom:2px
}
 .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.q1fb_q-simple {
    padding-bottom:14px
}
 .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.q1fb_q-simple {
    padding-bottom:14px
}
 .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.qwg_q {
    padding-bottom:10px
}
 .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.qwg_q {
    padding-bottom:10px
}
 .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:10px
}
 .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.qwg_q .q1sj_q .q1so_q-el-content {
    padding-bottom:10px
}
 .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.q1hy_q {
    padding-bottom:10px
}
 .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.q1hy_q {
    padding-bottom:10px
}
 .q1oc_q .xslot1[q1dd_q-level="3"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:4px
}
 .q1oc_q .xslot2[q1dd_q-level="3"] .q1fb_q.q1hy_q .q1sj_q .q1so_q-el-content {
    padding-bottom:4px
}

.contact-content {
    font-size: 12px;
    padding-left: 24px;
}

#q1qe_q-contact {
    width: 25%!important;
    padding-left: 24px;
    margin-top: -24px;
    padding-top: 24px;
    padding-bottom: 8px;
}

.custom-link, .custom-link:hover {
    font-size: 13.5px!important;
    color: inherit!important;
    text-decoration: underline!important;
}

.ach-subtext {
    margin-bottom: 8px;
    text-align: justify;
}
